.freeze {
    display: flex;
    flex-direction: row;
    gap: 50px;
    justify-content: center;
    border: 2px solid;
    border-color: aliceblue;
    height: 50px;
    width:fit-content;
    background-color: rgb(245, 242, 242);
    position: fixed;
    z-index: 100;

        img {
            max-width: 100%;
            max-height: 100%;
            position: relative;
            left: 5em;
            

        }

}



// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 400

.playwrite-pe-brand {
    font-family: "Playwrite PE", cursive;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: thin;
    display: flex;
    position: relative;
    bottom: 0.8em;
    left: 1em

}

.category {
    display: flex;
    flex-direction: row;
    position: relative;
    top: 1em;
    left: 1em;
 
}

.subscribe{
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    height: 30px;
    width: 100px;
    background-color: black;
    text-align: center;

}

.commercial {
    height: 300px;
    border: 1px solid;
    border-color: rgb(211, 214, 214);
    background-color: rgb(224, 224, 224);
    position: relative;
    top: 5em;

    .commercialbox {
        height: 200px;
        width: 1000px;
        border: 1px solid;
        border-color: rgb(232, 235, 238);
        background-color: rgb(248, 246, 246);
        margin: 1em;
        margin-left: 9em;
        padding: 2em;
        position: relative;

    
        


    }

}

.container {
display: flex;
flex-direction: row;
gap: 10em;
margin: 7em;

}

.article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2em;

}

.center {
    text-align: center;

}

.line {
    border: 0.2px solid;
    border-color: rgb(187, 184, 184);
    background-color: rgb(202, 201, 201);
    height: 0.2px;
    width: 200px;
    position: relative;
    left: 10.5em;
    bottom: 3em;

}
