body {
  margin: 0 auto;
  padding: 0;
}

#page {
  background-color: rgba(0, 255, 255, 0.182);
  display: flex;
  // height: 100vh;
}
#form {
  display: flex;
  flex-direction: column;
  width: 25vw;
  height: 40vh;
  margin: 0 auto;
  justify-content: space-evenly;
  background: linear-gradient(
    to right,
    rgb(138, 183, 241) 0%,
    rgba(233, 240, 255, 0.8) 15%,
    95%,
    rgb(138, 183, 241) 100%
  );
  margin-top: 2vh;
  border-radius: 20px;
  border: solid 1px black;
  text-align: center;
  input {
    width: 80%;
    font-size: 1.2rem;
    height: 10%;
    margin: 0 auto;
    border-radius: 10px;
    border: solid 1px black;
    text-align: center;
  }
  #submit{
    background-color: rgb(67, 130, 197);
    color: white;
    font-size: 1rem;
    &:hover{
        font-size: 1.2rem;
        background-color: rgb(38, 65, 93);
        transition: all .3s;
    }
  }
  #description{
    height: 12%;
    font-size: 1rem;
  }
  #imageInputLabel {
    width: 80%;
    height: 10%;
    margin: 0 auto;
    border-radius: 20px;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.807);
    &:hover {
      height: calc(10% - 2px);
      font-size: 1.2rem;
      border-radius: 20%;
      border-right: 1px solid gray;
      border-top: 2px solid black;
      border-bottom: 2px solid black;
      border-left: 1px solid gray;
      transition: all 0.3s;
      background: linear-gradient(
        to right,
        rgb(228, 228, 228) 0%,
        rgba(255, 255, 255, 0.8) 15%,
        95%,
        rgb(228, 228, 228) 100%
      );
    }
  }
}
