body {
    background-color: lightblue;
}

.refreshButton {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center; 
    position: fixed; 
    top: 50px; 
    left: 580px; 
    background-color: #ffffff; 
    color: rgb(15, 59, 154);
    border: none;
    font-size: 16px;
    cursor: pointer; 
}

.refreshButton:hover {
    background-color: #91bdeb; 
}

#balloon-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.balloon {
    width: 50px;
    height: auto;
    position: absolute;
    bottom: 0;
    cursor: pointer;
    animation: moveUp 10s linear infinite;
}

.explode-animation {
    width: 80px; 
    position: absolute; 
    bottom: 0; 
    left: 0;
    transform: scale(0.8); 
    animation: none; 
}

@keyframes moveUp {
    0% {
        bottom: 0;
    }
    100% {
        bottom: 100%;
    }
}

.timer {
    position: fixed;
    top: 20px;
    left: 20px; 
    background-color: rgba(255, 255, 255, 0.7);
    padding: 10px;
    border-radius: 10px;
    font-size: 24px; 
    color: #000; 
    font-family: Arial, sans-serif; 
}