.box{
    padding: 20px;
   // background-color: aquamarine;
    //color: white;
    width: 50%;
    border-bottom: 1px solid black;
    text-align: left;
    img{
        width: 100%;
        height: 50%;
    }
    small{
        font-size: .6rem;
    }
}