
.sticky {
    display: flex;
    align-items: center;
    position: sticky;
    top: 0;
    margin-left: 110px;
    background-color: rgb(255, 255, 255);
    gap: 25px; 
}

.sticky .topnav {
    display: flex;
    align-items: center;
}

.sticky .img-logo {
    width: 80px;
    height: 22px;
}

.topnav {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.dropdown {
    float: left;
    overflow: hidden;
}

ul.breadcrumb {
    list-style: none;
    margin-top: 0;
    margin-left: 0;
    color: black;
}

.active {
    background-color: #ffffff;
    color: rgb(3, 3, 3);
    margin-left: 0;
}

.sticky a {
    text-decoration: none;
    color: inherit;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
}

.sticky a i {
    font-size: 22px;
}

.sticky a:focus,
.sticky a:active {
    text-decoration: underline;
}


.my-button {
    background-color: #0c0d0d;
    color: rgb(247, 241, 241); 
    border: none; 
    padding: 10px 20px;
    border-radius: 2px; 
    cursor: pointer; 
    margin-left: 400px;

    
}

.my-button:hover {
    background-color: #f4f1f7; 
    color: #0c0d0d;
}
