body {
    margin: 0;
}

.img {
    width: 100%;
    height: 100vh;
    
.gameover {
    width: 100rem;
    position: relative;
    top: 700rem;
}
}

.bird {
    width: 5rem;
}

.gameover-img{
    position: relative;
    width: 80%;
    top: -5rem;
    left: 10%;
}

.start {
    position: absolute;
    top: 20%;
    color: #005eff;
    font-family: Arial, Helvetica, sans-serif;
    right: 30%;
}

#obsticals {
    .obstical-1 {
        width: 40vw;
        position: absolute;
        top: 20%;
    }
    .obstical-2 {

    }
}