.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3377FF;
    padding: 1rem 2rem;
    height: 10vh;
    z-index: 100;

  }
  
  .navbar-logo img {
    height: 6vh;
  }
  
  .navbar-links {
    display: flex;
    list-style: none;
  }
  
  .navbar-links li {
    margin: 0 1.5rem;
  }
  
  .navbar-links a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .navbar-links a:hover {
    color: #99BBFF;
  }
  
  .navbar-profile img {
    height: 6vh;
    border-radius: 50%;
    cursor: pointer;
  }