body{

}

button{
    font-size: 4rem;
    width: 200px;
    height: 200px;
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;

    &.clicked{
        background-color: #000000;

    }
}

button:hover{
    background-color: #2980b9;
    transform: translateY(50px); /* מעלה את הכפתור למעלה */
    animation: dance 0.5s ease infinite;
}
  
  @keyframes dance {
    0%, 100% {
      transform: translateX(0);
    }
    20% {
      transform: translateX(-10px);
    }
    40% {
      transform: translateX(10px);
    }
    60% {
      transform: translateX(-10px);
    }
    80% {
      transform: translateX(10px);
    }
  }
  