.smallBtn {
    margin-top: 1rem;
    background-color: #3377FF;
    width: 10vh;
    height: 4.5vh; 
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    border-radius: 15px;
  
  
  .btn:hover {
    background-color: #99BBFF; 
  }
  
  .btn:active {
    background-color: #99BBFF; 
  }
}
  