<<<<<<< HEAD
.page {
    align-items: center;
    .row {
        display: flex;
        flex-direction: row;
        gap: 5%;
        padding-inline: 3%;

        .title {
            font-size: 1rem;
            font-weight: 600;
            line-height: 26.63px;
            text-align: left;
            color: var(--header-color);
            margin-left: 1.5rem;
        }

        .container {
            width: 28vw;
            height: 40vh;
            border-radius: 2rem;
            margin-top: 0.4rem;
            border-radius: 25px;
            background-color: #fff;
            left: 0.1rem;
            background-color: #ebe3f5;

            .fa-circle-notch {
                width: 2.8rem;
                height: 2.8rem;
                margin: 0 1.3rem 0 1.3rem;
            }
        }
    }

    .row2 {
        padding-inline: 3%;
        margin-bottom: 10rem;
            .title {
                font-size: 1rem;
                font-weight: 600;
                line-height: 26.63px;
                text-align: left;
                color: var(--header-color);
                margin-left: 1.5rem;
            }
            
            .container{
                width: 60vw;
                height: 60vh;
                border-radius: 2rem;
                margin-top: 0.4rem;
                border-radius: 25px;
                background-color: #fff;
                left: 0.1rem;
                background-color: #ebe3f5;
            }
        }
}

.userCourses {
    font-size: 1rem;
    font-weight: 500;
    color: #828282;
}



           

=======
>>>>>>> b789ba48a12c878492dbcfde15416966f74d2bc7
