.card{
    border: solid 2px green;
    background-color: blue;
    text-align: center;
    .title{
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        font-size: 20px;
        font-weight: bold;
    }
    .text{
        color: red;
        font-size: 10px;
    }
     .img{
        background-image: url(./images/sea.jpeg);
        width: 100%;
        height: auto;
     }
}
