.user{
    width: 20%;
    height: 15%;
    display: flex;
    flex-direction: row;
    border: 1px blue solid;
    margin: .5vw;
    user-select: none;
    align-items: center;
    cursor: pointer;
    img{
        width: 5vw;
        height: 5vw;
        border-radius: 50%;
    }
    h1{
        margin: 0;
    }
}