.poster
{
    border: solid black 1px;
    width: 60vw;
    margin: 0 auto;

}
.post
{
    border: solid black 1px;
    width: 60vw;
    margin: 0 auto;
    margin-top: 1vw;

}
h1{
    margin: .1vw;
}
.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}
.column{
    display: flex;
    flex-direction: column;
}
.button{
    width: 5vw;
    height: 5vw;
   position: relative;
   bottom: -5vw;
}
img{
    width: 5vw;
    height: 5vw;
    border-radius: 50%;
    border: solid black 1px;

}
input{
    width: 20vw;
    height: 10vw;
    margin: 1vw;
    border: solid black 1px;

}