.menu
    {
            background:  rgb(255, 0, 0);
            font-family: sans-serif;
            font-size: 12px;
            gap: 10px;
            height: 60px;
            width: 100vw;
            display: flex;
            justify-content: center;
            position: sticky;
            top: 0;
            align-items: center;
            

    /*    img
            {
                margin-top: 10px;
                margin-left: 20px;
            }

    */
    }

/* .try
    {
        background: yellow;
        height: 8000px;

    }
*/

.logo_name_ella
    {
        font-family:'Courier New', Courier, monospace;
        font-size: 28px;
        font-weight: bold;
    }

.subscribe
    {
        background-color: white;
        color: white;
        width: 8%;
        height: 50%;
        margin-left: 10%;
        font-weight: bold;
    
    }
.subscribe:hover
    {
        background: black;
        color: black;
    }

.first_pic_up
    {
        img {
            width: 100vw;
            height: 500px;

             }   

    }