body{
  font-family: "Roboto", sans-serif;

}
.blogs{
  display: flex;
  flex-direction: row;
  gap: 80px;
  width: 100vw;
  .blog{
    flex: 1;
    &__image{
      width: 100%;
    }
    &__text{
      color: black;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: 20px;
    }

    &__date{
      color: gray;
      font-size: 0.9rem;
    }
  }
}