body{
  margin: 0px;
}

.wrapper{
  border: 1px solid black;
  padding: 50px 50px 50px 50px;
  width: 500px;
}

.box{
  border: 1px solid black;
  padding: 10px 5px 10px 5px;
  position: absolute;
}

.box1{
  top: 5%;
  left: 10%;
}