body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.admin,
.clients {
    background-color: #4ca0af;
    color: white;
    padding: 1vh;
    border-radius: 15px;
    border: 1px solid white;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
    transition: background-color 0.3s ease;
}

.admin:hover,
.clients:hover {
    background-color: #367a85;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding-top: 20px;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

form input,
form button {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

form button {
    background-color: #af4c77;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #d4cbcf;
}

#adminList {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th,
table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: #af4c77;
    color: white;
    font-weight: bold;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

.delete-btn,
.edit-btn {
    background-color: #af4c77;
    color: white;
    padding: 1vh;
    border-radius: 15px;
    border: 1px solid white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.delete-btn:hover,
.edit-btn:hover {
    background-color: #d4cbcf;
}

@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    form input,
    form button {
        width: 100%;
    }
}
