body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;

    @media (max-width: 790px) {
        font-size: 23px;
    }

}

.wrapper {
    display: grid;
    grid-template-rows: repeat(10, fit-content(100px));
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    width: 100vw;


    @media (max-width: 1800px) {
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width: 1300px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 790px) {
        grid-template-columns: repeat(1, 1fr);
    }

   

    .card {

        &__image {
            background-image: url(https://img.freepik.com/free-photo/purple-osteospermum-daisy-flower_1373-16.jpg?size=626&ext=jpg&ga=GA1.1.2008272138.1722902400&semt=sph);
            background-repeat: no-repeat;
            background-size: cover;

            height: 300px;
        }

        &__content {
            @media (max-width: 790px) {
                padding: 1rem;
            }
        }

    }
}