.card{
    background-color: teal;
    color: white;
    padding: 1rem;

    .image{
        height: 200px;
        background-color: pink;
    }

    .info{
        h3{
            color: red;

            &:hover{
                color: yellow;
                transition: all 2s;
                transform: translate(30px, 0px);
                font-style: italic;
                // capitalize next line
                text-transform:uppercase;
                
            
            }
        }
        p{
            color: blue;

            &:active{
                color: rgb(38, 217, 38);
            }
        }
    }
}



