.btnsContainer
{
    width:fit-content;
    height: 50%;
    margin: 0 auto;
    border: solid black;
    justify-content: space-evenly;
}
button{
    padding: 1vw;
    margin: 1vw;
}
.list
{
    width:fit-content;
    height: 50%;
    margin: 0 auto;
   // border: solid black;
    justify-content: space-evenly;
    font-size: 2em;
}