html{
  scroll-behavior: smooth;
}

body{
  margin: 0;
  padding: 0;
  font-family: "Rubik", sans-serif;
  height: 300vh;
  box-sizing: border-box;
  direction: rtl;
  background-color: rgb(29, 29, 72);
  border: none
}

.navbar{
  position: fixed;
  direction: rtl;
  background-color: rgba(0, 0, 0, 0.192);
  width: 100vw;
  height: 13vh;
  z-index: 1;

  ul{

    position: relative;
    top: 30%;
    left: -10%;
    
    li{
      margin: 0vh 1.9vh;
      display: inline-block;
      list-style: none;
      
      a{
        color: rgb(203, 232, 252);
        font-size: 2.3vh;
        text-decoration: none;
      }
    }
  }
  &__img{
    width: 8vw;
    position: absolute;
    left: 56%;
    top: -200%;
  }

  .button__menu {
    background: none;
    border: none;
    background-color: rgba(134, 133, 133, 0.4);
    color: white;
    font-size: 2.7vh;
    font-weight: 400;
    padding: 1.2vh 1.7vh;
    cursor: pointer;
    position: absolute;
    left: 88%;
    top: 34%;
  }

  .button__tickets {
    background-color: rgb(231, 33, 65);
    font-size: 2.4vh;
    border: none;
    background-image: url("https://www.cinema-city.co.il/img/arrow-left2.png");
    background-position: 2.2vh center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    text-align: right;
    left: 10%;
    top: 35%;
    color: white;
    cursor: pointer;
    padding: 1.4vh 2.7vh 1.4vh 5.2vh;
  }

  .button__search{
    background-color: rgba(134, 133, 133, 0.4);
    font-size: 2.4vh;
    color: rgb(191, 226, 250);
    border: none;
    background-image: url("	https://www.cinema-city.co.il/img/search-new.png");
    background-position: right 1.2vh center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    text-align: left;
    left: 21.5%;
    top: 35%;
    cursor: pointer;
    padding: 1.4vh 4.2vh 1.2vh 2.7vh;
  }
}  

.navbar.scrolled {
  position: fixed;
  direction: rtl;
  background-color: rgb(33, 31, 77);
  width: 100vw;
  height: 8.5vh;
  z-index: 1;

  ul{

    position: relative;
    top: 20%;
    left: -10%;
    
    li{
      margin: 0vh 1.9vh;
      display: inline-block;
      list-style: none;
      
      a{
        color: rgb(203, 232, 252);
        font-size: 2.1vh;
        text-decoration: none;
      }
    }
  }
  .navbar__img{
    width: 5.5vw;
    position: absolute;
    left: 57%;
    top: -140%;
  }

  .button__menu {
    background: none;
    border: none;
    background-color: rgba(134, 133, 133, 0.4);
    color: white;
    font-size: 2.4vh;
    font-weight: 400;
    padding: 1vh 1.9vh;
    cursor: pointer;
    position: absolute;
    left: 88%;
    top: 24%;
  }

  .button__tickets {
    background-color: rgb(255, 197, 0);
    font-size: 1.9vh;
    border: none;
    background-image: url("https://www.cinema-city.co.il/img/arrow-left-black-227.png");
    background-position: 1.8vh center;
    font-weight: bold;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    text-align: right;
    left: 9%;
    top: 28%;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 0.9vh 1.7vh 0.9vh 3.2vh;
  }

  .button__search{
    background-color: rgba(134, 133, 133, 0.4);
    font-size: 2.4vh;
    color: rgb(191, 226, 250);
    border: none;
    background-image: url("	https://www.cinema-city.co.il/img/search-new.png");
    background-position: right 1.2vh center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    position: absolute;
    left: 17.5%;
    top: 25%;
    cursor: pointer;
    padding: 0.9vh 4.7vh 0.9vh 2.2vh;
  }
}

@keyframes slide {
  from {opacity: 0; transform: translateX(100%);}
  to {opacity: 1; transform: translateX(0);}
}

.dot {
    height: 1.7vh;
    width: 0.75vw;
    background-color: transparent;
    position: relative;
    top: -3vh;
    left: 46%;
    border: 0.3vh solid rgb(84, 84, 117);
    margin: 0 0.7vh;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 1s ease;
}

.active {
  background-color: rgb(84, 84, 117);
}

.boxtickets{
  position: relative;
  width: 80vw;
  left: -10%;
  top: -5%;
  height: 23vh;
  box-shadow: rgba(0, 0, 0, 0.69) 0vh 0vh 2vh 0vh;
  background-color:rgb(231, 33, 65);
  &__title{
   color: rgb(203, 232, 252); 
  padding: 0vh 64vh;
   top: 2vh;
   font-size: 4.4vh;
   position: relative;
  }
  .buttons{
    cursor: pointer;
    border: none;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 2.3vh;
    background-color: rgba(0, 0, 0, 0.123);
    color: rgba(255, 255, 255, 0.747);
    top: 11.5vh;
    padding: 2.3vh 10vh;
    position: absolute;
  }
  .fa-chevron-down {
    position: absolute;
    left: 3%;
  }
  .icons{
    position: absolute;
    right: 8%;
   }
   .buttontickets{
    background-color: rgb(29, 29, 72);
    font-size: 3.1vh;
    color: rgb(203, 232, 252);
    left: 1%;
    padding: 1.8vh 4.6vh;
   }
   .buttondate {
    left: 59%;
  }
  .buttontime {
      left: 20%;
  }
  .buttonchoose {
    background-color: rgb(203, 232, 252); 
    color: rgb(231, 33, 65);
    left: 79%;
  }
  .buttonmovie {
    left: 39.5%;
  }
}

.second_navbar {
  display: flex;
  align-items: center;
  justify-content: center;
}

.now_movies {
  color: rgb(203, 232, 252);
  font-size: 30px;
  font-family: "Rubik", sans-serif;
  font-weight: bolder;
  margin-right: 20px; 
}

ul {
  display: flex;
  align-items: center;
  padding: 0;
  margin: 0;
}

ul li {
  list-style: none;
  margin: 0 1vh;
  display: flex;
  align-items: center;
  color: rgb(177, 176, 176);
}

ul li a {
  color: rgb(177, 176, 176);
  font-size: 2.1vh;
  text-decoration: none;
}

.movies_menu {
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 1.5rem;
}

.image_container {
  width: 16rem;
  height: auto;
  position: relative;
  perspective: 1000px; 
}

.image {
  width: 100%;
  height: auto;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front_image {
  transform: rotateY(0deg);
}

.back_image {
  transform: rotateY(180deg);
}

.image_container:hover .front_image {
  transform: rotateY(-180deg);
}

.image_container:hover .back_image {
  transform: rotateY(0deg);
}