@import '../../../style.scss';
.sidebar {
    width: 200px;
    background-color: $PrimaryColor;
    color: $TextColor;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-item {
            text-align: center;
            margin: 10px 0;
            font-size: 30px;

            a {
                text-decoration: none;
                color: $TextColor;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}