.card {
    background-color: rgb(84, 81, 81); 
    background-position: left left;
    color: aliceblue;
    text-align: left;
    width: 600px;
    margin: 10px;
    height: 70px;
    
    
    

     .h1 {
        font-style: italic;
        font-size: 50px;
        
     }
}


.text-title {
    font-size: 30px;
    margin: 30px;
    font-weight: bold;


    .img {
        margin-left: 35px;
    }
}


.space {
    margin-left: 50px;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 10px;
}



.button-small{
    display: inline-block;
    padding: 15px;
    background-color: #f0f0f0; 
    border-radius: 10%;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    
    
}

.size-color-small1 {
    font-size: 20px;
    box-shadow: 0 2px 4px rgb(58, 51, 58);
    background-color: rgb(223, 219, 223); 
}

.size-color-small2 {
    font-size: 20px;
    box-shadow: 0 2px 4px rgb(236, 113, 236);
    background-color: rgb(202, 15, 215); 

    
}
.size-color-small3 {
    font-size: 20px;
    box-shadow: 0 2px 4px rgb(49, 238, 144);
    background-color: rgb(156, 186, 171); 
}


.size-color-small4 {
    font-size: 20px;
    box-shadow: 0 2px 4px rgb(211, 18, 115);
    background-color: rgb(220, 109, 164);
}

.margin2{
    margin-left: 40px ;
    margin-bottom: 30px;
}
.margin3{
    margin-left: 20px ;
    margin-bottom: 20px;
}

.margin4{
    margin-left: 55px ;
    margin-bottom: 30px;
}



.button-big{
    display: inline-block;
    padding: 15px;
    background-color: #f0f0f0; 
    border-radius: 10%;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    
    
}

.size-color-big1 {
    font-size: 40px;
    box-shadow: 0 2px 4px rgb(58, 51, 58);
    background-color: rgb(223, 219, 223); 
}

.size-color-big2 {
    font-size: 40px;
    box-shadow: 0 2px 4px rgb(236, 113, 236);
    background-color: rgb(202, 15, 215); 

    
}
.size-color-big3 {
    font-size: 40px;
    box-shadow: 0 2px 4px rgb(49, 238, 144);
    background-color: rgb(156, 186, 171); 
}


.size-color-big4 {
    font-size: 40px;
    box-shadow: 0 2px 4px rgb(211, 18, 115);
    background-color: rgb(220, 109, 164);
}

.margin-big2{
    margin-left: 40px ;
    margin-bottom: 30px;
}
.margin-big3{
    margin-left: 19px ;
    margin-bottom: 30px;
}

.margin-big4{
    margin-left: 52px ;
    margin-bottom: 30px;
}


.button-large{
    display: inline-block;
    padding: 15px;
    background-color: #f0f0f0; 
    border-radius: 10%;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 30px;
    
    
}

.size-color-large1 {
    font-size: 70px;
    box-shadow: 0 2px 4px rgb(58, 51, 58);
    background-color: rgb(223, 219, 223); 
}

.size-color-large2 {
    font-size: 70px;
    box-shadow: 0 2px 4px rgb(236, 113, 236);
    background-color: rgb(202, 15, 215); 

    
}
.size-color-large3 {
    font-size: 70px;
    box-shadow: 0 2px 4px rgb(49, 238, 144);
    background-color: rgb(156, 186, 171); 
}


.size-color-large4 {
    font-size: 70px;
    box-shadow: 0 2px 4px rgb(211, 18, 115);
    background-color: rgb(220, 109, 164);
}

.margin-large2{
    margin-left: 40px ;
    margin-bottom: 30px;
}
.margin-large3{
    margin-left: 19px ;
    margin-bottom: 30px;
}

.margin-large4{
    margin-left: 52px ;
    margin-bottom: 30px;
}

