.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    width: 60rem;
    margin: 0 auto; 
    background-color: black;

.box {
    display: flex;
    align-items: flex-start;
    padding: 1rem;
    border: 1px solid #e1e8ed;
    background-color: black;
    color: white;
    font-family: 'Arial', sans-serif;
    width: 100%;

    .profileImage {
      width: 3rem;
      height: 3rem;
      margin-right: 1rem;
      border-radius: 50%;
    }

    div {
      flex: 1;

      .userInfo {
        display: flex;
        align-items: center;

        h3 {
          margin: 0;
          color: white;
          font-size: 1rem;
          font-weight: bold;
        }

        p {
          margin-left: 0.5rem;
          font-size: 0.9rem;
          color: #657786;
        }
      }

      .tweetText {
        font-size: 1rem;
        color: white;
      }

      .tweetImage {
        width: 20rem;  
        height: 20rem;
        border-radius: 10px;
        object-fit: cover;
        margin-bottom: 0.5rem;
      }

      div {
        display: flex;
        gap: 2rem; 
        font-size: 0.9rem;
        color: #657786;

        span {
          cursor: pointer;
          display: flex;
          align-items: center;
          font-size: 1.2rem;
          gap: 0.5rem;

          &:hover {
            color: #1da1f2;
          }
        }
      }
    }
  }
}