.puzzle {
  width: 100%;
  height: 100vh;
  display: block;
  text-align: center;
  text-justify:  center;
  align-items: center;
  justify-content: center;
color: white;
  @media (max-width: 600px) {
    background-color: red;
  }
  @media (min-width: 600px)  {
    background-color: green;
   max-width:1200px;
    background-color: green;
  }
 
  @media (min-width:1200px) {
    background-color: blue;
  }
}

// create a a page that change colors as follow:
// - when the screen is less than 600px the background color is red
// - when the screen is between 600px and 1200px the background color is green
// - when the screen is more than 1200px the background color is blue
// - the text color should be white
