// @import url(/06-React/01-basic/homePuzzle/yonatanSilam/silam/src/assets/x.webp);
.image{
    width: 500px;
    height: 300px;
    min-width: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    // background-image: url(/06-React/01-basic/homePuzzle/yonatanSilam/silam/src/assets/x.webp);

}