body {
  margin: 0;
  padding: 0;
}

.wrapper {
  text-align: center;
  h1 {
    color: white;
  }
  width: 100vw;
  height: 100vw;
  //background-color: red;
  //  border: solid black 1px;
  @media (min-width: 1201px) {
    background-color: blue;
  }
  @media (max-width: 1200px) {
    background-color: green;
  }
  @media (max-width: 600px) {
    background-color: red;
  }
}
