body {
  margin: 0;
  padding: 0;
  text-align: center;
  h1 {
    color: white;
  }
  @media (min-width: 1201px) {
    background-color: blue;
  }
  @media (max-width: 1200px) {
    background-color: green;
  }
  @media (max-width: 600px) {
    background-color: red;
  }
}
