// body{
//     transition: all 0.5s;
// } 
//  canvas {
//     display: block;
//     margin: 0 auto;
//     background: #000;
// }
body {
    margin: 0;
    overflow: hidden;
}
canvas {
    display: block;
    background: #000;
}
