.SmallContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: left;
        background-color: #E3EDFF;
        height: 80vh;
        width: 140vh;
        border-radius: 3vh;
}