.smallContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #E3EDFF;
        height: 83vh;
        width: 178vh;
        border-radius: 3vh;
        transform: translate(10vh, 7.5vh);
    }