*{
  font-family: Arial, Helvetica, sans-serif;
}
p{
  position: absolute;
  left: 2%;
}
.first{
  .fl-text{
    .fabs{
      position: absolute;
      left: 2%;
      top: 6%;
      font-weight: bold;
      font-size: 16px;
    }
    .headfabs{
      position: absolute;
      top: 3.1%;
      font-size: 21px;
      left: 9%;
      color: rgb(133, 79, 133);
    }
    .surface{
      top: 11%;
    }
    .primary{
      top:20%;
    }
    .secondary{
      top: 30%;
    }
    .teritary{
      top: 40%;
    }
  }
  .btns{
    .buttons{
      position: absolute;
      border-radius: 9px;
      padding: 11px 12px 11px 12px;
      display: inline-block;
      margin: 0px -220px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(#000000, 0.25);
      color: rgb(255, 255, 255);
    }
    .buttons-second{
      position: absolute;
      border-radius: 9px;
      padding: 13px 16px 13px 16px;
      display: inline-block;
      margin: 0px -220px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(#000000, 0.25);
      color: rgb(255, 255, 255);
    }
    .buttons-three{
      position: absolute;
      border-radius: 9px;
      padding: 16px 19px 16px 19px;
      display: inline-block;
      margin: 0px -220px;
      border: none;
      box-shadow: 0px 4px 4px 0px rgba(#000000, 0.25);
      color: rgb(255, 255, 255);
    }
    .buttons-1{
      background-color: rgb(203, 166, 204);
      top: 12%;
    }
    .buttons-2{
      background-color: rgb(157, 119, 158);
      top: 22%;
    }
    .buttons-3{
      background-color: rgb(122, 116, 122);
      top: 32%;
    }
    .buttons-4{
      background-color: rgb(209, 175, 175);
      top: 42%;
    }
    .buttons-5{
      background-color: rgb(203, 166, 204);
      top: 65%;
    }
    .buttons-6{
      background-color: rgb(157, 119, 158);
      top: 75%;
    }
    .buttons-7{
      background-color: rgb(122, 116, 122);
      top: 85%;
    }
    .buttons-8{
      background-color: rgb(209, 175, 175);
      top: 94.7%;
    }
    .buttons-9{
      background-color: rgb(203, 166, 204);
      top: 117%;
    }
    .buttons-10{
      background-color: rgb(157, 119, 158);
      top: 127%;
    }
    .buttons-11{
      background-color: rgb(122, 116, 122);
      top: 137%;
    }
    .buttons-12{
      background-color: rgb(209, 175, 175);
      top: 147%;
    }
    .l1{
      left: 34%;
    }
    .l2{
      left: 30%;
    }
    .l3{
      left: 26%;
    }
    .l4{
      left: 22%;
    }
  }

}

.second{
  .second-text{
    .fabs{
      position: absolute;
      left: 2%;
      top: 59%;
      font-weight: bold;
      font-size: 16px;
    }
    .headfabs{
      position: absolute;
      top: 57.1%;
      font-size: 21px;
      left: 9%;
      color: rgb(133, 79, 133);
    }
    .surface{
      top: 64%;
    }
    .primary{
      top:74%;
    }
    .secondary{
      top: 84%;
    }
    .teritary{
      top: 94%;
    }
  }
}

.three{
  .three-text{
    .fabs{
      position: absolute;
      left: 2%;
      top: 111%;
      font-weight: bold;
      font-size: 16px;
    }
    .headfabs{
      position: absolute;
      top: 109.1%;
      font-size: 21px;
      left: 9%;
      color: rgb(133, 79, 133);
    }
    .surface{
      top: 116.2%;
    }
    .primary{
      top:126.2%;
    }
    .secondary{
      top: 136.2%;
    }
    .teritary{
      top: 146.2%;
    }
  }
}

