
body
{
    text-align: center;
}

.openingCard
{

    background-color: blue;
    text-align: center;   
    display: inline-block;
    padding: 20px;
   ;
    
    .title
    { 
        display: flexbox;
        color: black;
        font-size: 2rem;
        .num
        {
            color: yellow;
            vertical-align:sub;
        }
    }
    .text
    {
        color: white;
    }
    
    .img
    {
     background-image: url(https://cdn.britannica.com/84/73184-050-05ED59CB/Sunflower-field-Fargo-North-Dakota.jpg);
        width: 100px;
        height: 100px;
       margin: 0 auto;
      
    }
    

}