@media (max-width: 600px) {
  body {
    font-size: 40px;
  }
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: white;
}

.list {
  display: flex;
  list-style: none;
  justify-content: center;
  gap: 20px;
  background-color: whitesmoke;
  font-size: 1.3rem;
  font-weight: bold;
  font-family: "Libre Baskerville", serif;
}
.list .hover-effect {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.hover-effect:hover {
  color: rgb(180, 71, 71);
  text-decoration: underline;
}

.img {
  height: 70vh;
  width: 220.7vh;
  margin-left: 0%;
}

.carousel {
  margin-top: 100px;
  width: 90vw;
  height: 20vh;
  display: flex;
  justify-content: center;
  position: relative;
  margin-bottom: 60px;
}
.carousel .slides {
  flex-direction: row;
  width: 60px;
  height: 100px;
}
.carousel .slide {
  float: left;
  margin-left: 4vw;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
}

.navigation .prev,
.navigation .next {
  color: rgb(0, 0, 0);
  padding: 10px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
}

.navigation-prev {
  left: 1250px;
}

.navigation-next {
  right: 1220px;
}

.partnershipcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 5vh;
  margin-right: 36vw;
  width: 70vh;
  gap: 1.5rem;
}

.partnershipcontainer img {
  max-width: 100%;
}

.partnershiplogo {
  margin-top: 5vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.partnershiplogo .textcontainer1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  gap: 3vh;
}
.partnershiplogo p {
  display: flex;
  font-size: x-large;
  font-weight: bold;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  max-width: 60vh;
}

h1 {
  font-size: 50px;
  text-align: center;
  color: red;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.smalltitledownpage p {
  font-size: 23px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.greyline {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 28vh;
  background-color: rgb(245, 245, 245);
  text-align: center;
}
.greyline h1 {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-top: 5vh;
  margin-top: 2vh;
}
.greyline p {
  font-size: 25px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: black;
  margin-bottom: 5vh;
  margin-top: 1vh;
}

.mail {
  display: flex;
  text-align: left;
  width: 35%;
  height: 50px;
  background-color: transparent;
  border: 1px solid black;
}
.mail p {
  display: inline-block;
  background-color: rgba(247, 4, 4, 0.815);
  color: white;
  margin: 0;
  padding: 5px 20px;
}

.verify {
  display: flex;
  flex-direction: row-reverse;
}
.verify h1 {
  font-size: 15px;
  max-width: 500px;
}
.verify .verifyicon {
  display: flex;
  margin-top: 2.3vh;
  width: 13px;
  height: 13px;
  background-color: transparent;
  border: 1px solid rgb(75, 79, 114);
}

.backgroundwrapper {
  width: 100%;
  height: 28vh;
  background-color: rgb(82, 91, 112);
}

.textcontainer {
  color: white;
  display: flex;
  justify-content: center;
  margin-top: 5vh;
  gap: 7vw;
}

.textsection p {
  font-size: 15px;
  margin: 1;
}/*# sourceMappingURL=global.css.map */