#ballon{
    width: 100px;
    height: 100px;
    background-image:url(https://helloblooms.com/cdn/shop/products/BlueRubberBalloon.jpg?v=1662112499);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    top: 0;
    left: 0;

    animation: yosef 2s;
    // animation-iteration-count: 2;
    // animation-direction: alternate;
    animation-fill-mode: forwards;
    // animation-play-state: paused;
    animation-delay: 2s;
    animation-timing-function: ease-in-out;
    // animation-timing-function: cubic-bezier(0.1, 0.7, 1.0, 0.1);
  
}

<<<<<<< Updated upstream
@keyframes yosef {

    0%
    
    0% {
      transform: translateY(0px);
=======
@keyframes moveRight {
    0%{
        left: 0;
        top:0;
    }20%{
        left: 20vw;
        top: 10vh;
    } 50%{
        left: 50vw;
        top: 50vh;
    } 100%{
        left: 80vw;
        top: 10vh;
>>>>>>> Stashed changes
    }
    100% {
      transform: translateY(200px);
    }
  }
  
  .animated-element {
    animation: myanimation 2s ease-in-out infinite;
  }