body{
    background: linear-gradient(to right ,#8ABEFF,#5271ff,#5170FF);
    color: #4D4D4D;
    font-size: 18px;
}


@media screen and (min-width: 500px){
.logIn{
    background-color: white;
    margin: 30vh auto 0 auto;
    width: 35vw;
    height: 35vh;
    border: 5px solid transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    animation: fadeInAnimation 3s;


    &__backImg{
        background-image: url('./arrow.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        width: 50px;
        height: 50px;
    }

    &__title{
        font-size: 22px;
        text-align: center;
    }

    #form{
        padding-left: 10%;
        align-items: center;

        label{
            font-size: 16px;
        }
        input{
            margin-top: 5px;
            width: 90%;
            height: 20px;
            border: 2px solid lightgrey;
            border-radius: 4px;
        }

        span{
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }

        .input-group{
            margin-top: 5px;
        }

        .options-button{
            margin-top: 30px;
            display: flex;
            flex-direction: row;
            gap: 15px;
            justify-content: center;
            margin-right: 10%;
        }

        button{
            width: 100px;
            height: 40px;
            border-radius: 4px;
            border: solid transparent;
        }

        #btn-0{
            color: white;
            background-color: #5271ff;
        }
        #btn-1{
            color: white;
            background-color: #f8dc62;
        }
    }
}
}

@media screen and (max-width: 500px){
    .logIn{
        background-color: white;
        margin: 30vh auto 0 auto;
        width: 35vw;
        height: 30vh;
        border: 5px solid transparent;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        animation: fadeInAnimation 3s;

    
        &__title{
            font-size: 11px;
            text-align: center;
        }
    
        #form{
            padding-left: 10%;
            align-items: center;
    
            label{
                font-size: 8px;
            }
            input{
                width: 90%;
                height: 10px;
                border: 1px solid lightgrey;
                border-radius: 4px;
            }
    
            span{
                color: red;
                font-size: 7px;
            }
    
            .options-button{
                margin-top: 30px;
                display: flex;
                flex-direction: row;
                gap: 15px;
                justify-content: center;
                margin-right: 10%;
            }
    
            button{
                width: 50px;
                height: 20px;
                border-radius: 4px;
                border: solid transparent;
                font-size: 8px;
            }

            #btn-0{
                color: white;
                background-color: #5271ff;
            }
            #btn-1{
                color: white;
                background-color: #f8dc62;
            }
        }
    }
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}