#navbar{
    border-radius: 2px;
    display: flex;
    gap: 15px;
    justify-content: center;
    
    a{
        color: black;
    }

    img{
        width: 10%;
        height: 10%;
    }
}

#computers{
    display: grid;
    grid-template-columns: repeat(3,1fr);


    img{
        width: 30%;
        height: 30%;
    }
}