p{
    @media (max-width: 800px) {
        font-size: .5rem;
    
    }
    @media (min-width: 800px) {
        font-size: .7rem;
    
    }
    @media (min-width: 2400px) {
        font-size: 1rem;
    
    }
    font-size: 1rem;
    
}
