
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3rem;
}
label{
    font-size: 2rem;
}
input{
    margin: 10px;
    min-width: 300px;
    height: 30px;
}
html, body{
    height: 100%;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
.continer{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: auto;
    width: 80vh;
    height: 50vh;
    background-color: aqua;
    &__titel{
        font-size: 4rem;
    }
}