// .container {
//     display: flex;
//     flex-direction: row;
//     gap: 2rem;
//     animation: cards_animation 5s;
//     position: relative;
//     background-repeat: repeat-x;

//     .card {
//         height: 15rem;
//         width: 20rem;
//         background-color: blue;
//     }


//     @keyframes cards_animation {
//         0% {
//           left: -100vw;
//         }
//         50% {
//           left: 50vw;
//         }
//         100% {
//           left: 200vw;
//         }
//       }
// }

.round-ball{
  width: 100px;
  height: 100px;
  background-color: aqua;
  border-radius: 50%;
  position: relative;
  top: 5vh;
  left: 50vw;

  animation: jumping;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes jumping{
  from{
    top: 5vh;
  } to{
    top: 70vh;
  }
}