body {
    margin: 0 ;
}

#canvas {
  width: 1800px;
  height: 1000px;
  background-color: rgba(126, 108, 78, 0.235);
  margin: 0 auto;
}
#playerBox
{
    background-color: blue;
}
.box
{
    background-color: rgb(180, 69, 54);
}
