.wrapper {
  position: absolute;
  left: 2.5%;
  right: 2.5%;
  width: 100%;
  height: 100%;
  .abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
  }

  .container {
    .open-sans {
      font-family: "Open Sans", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-variation-settings: "wdth" 100;
      font-size: 15px;
    }
    .oswald {
      font-family: "Oswald", sans-serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .kalnia-glaze {
      font-family: "Kalnia Glaze", serif;
      font-optical-sizing: auto;
      font-weight: weight;
      font-style: normal;
      font-variation-settings: "wdth" 100;
    }
    .title {
      position: relative;
      width: 100%;
      padding: 2px;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      position: sticky;
      top: 0px;
      gap: 25px;
      background-color: white;
      opacity: 100%;

      .menu {
        position: relative;
        left: 15px;
        cursor: pointer;
        background-color: white;
        .bar1,
        .bar2,
        .bar3 {
          width: 35px;
          height: 5px;
          background-color: #333;
          margin: 6px 0;
          transition: 0.4s;
        }
      }
      .suscribe-button {
        position: relative;
        left: 25%;
        background-color: black;
        color: white;
        width: fit-content;
        padding: 0.7%;
        margin: 5px;
      }
      .button:hover {
        text-decoration: black underline;
        cursor: pointer;
      }
    }
    .sign-in {
      position: relative;
      left: 27%;
      width: fit-content;
    }
  }
  .dancing-script {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .bodoni-moda-sc {
    font-family: "Bodoni Moda SC", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .space {
    width: 95%;
    background-color: rgb(227, 223, 223);
    height: 100px;
    display: flex;
    padding: 2%;
    align-items: center;
    justify-content: center;
    .img:hover{cursor: pointer;}
  }
  .section1 {
    position: absolute;
    padding-top: 1%;
    width: 95%;
    .container2 {
      position: relative;
      top: 30%;
      width: 95%;
      height: 75vh;
      display: flex;
      flex-direction: row;
      padding-bottom: 5%;
      border-bottom: solid grey;}
      .block1 {
        position: relative;
        display: flex;
        flex-direction: column;
        text-align: center;
       align-items: center;
        justify-content: center;      
        .title1:hover{
          opacity: 30%;
          cursor: pointer;
        }
      }
      
    }
    .block2 {
      width: 95%;
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: solid grey;
      padding-bottom: 1.5%;
    }
    .block2:hover{
      cursor: pointer;
      text-decoration: underline;
    }
  }

