body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: #f0f2f5;
  font-family: 'sans-serif';
}

.main {
  background-color: #E3EDFF;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 350px;
  text-align: center;

  &__title {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }

  &__btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    color: white;
    margin-bottom: 10px;

    &--login {
      background-color: #3377FF;
    }

    &--login:hover {
      background-color: #0056b3;
    }

    &--register {
      background-color: #28a745;
    }

    &--register:hover {
      background-color: #218838;
    }
  }

  &__logo {
    display: flex;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
    transform: translateY(-20px);
    transition: opacity 1s ease-out, transform 1s ease-out;

    &.animate {
      opacity: 0;
      transform: translateY(0);
    }
  }
}

/* media */
@media (max-width: 768px) {
  .main {
    width: 100%;
    padding: 20px;

    &__title {
      font-size: 1.8rem;
    }

    &__btn {
      font-size: 14px;
      padding: 8px;
    }

    &__logo {
      width: 150px;
    }
  }
}

@media (max-width: 480px) {
  .main {
    width: 100%;
    padding: 15px;

    &__title {
      font-size: 1.6rem;
    }

    &__btn {
      font-size: 12px;
      padding: 8px;
    }

    &__logo {
      width: 120px;
    }
  }
}
