
body{
    @media (max-width: 600px) {
        background-color: red;
    }

    @media (min-width: 600px) {
        background-color: green;
    }

    @media (min-width: 1200px) {
        background-color: blue;
    }
}