@import '../../components/button/button.scss';
@import '../../components/input/input.scss';
@import '../../components/header/header.scss';
@import '../../components/navbar/navbar.scss';
@import '../../components/button/smallBtn.scss';


body {
    background-color: #FBFBFD;
}
.dashboard-container {
    padding: 20px;
    .logo {
        width: 12vh;
        height: auto;
    }
.header-navbar{
    z-index: 100;

}
.dashboard-content{
    margin-top: 30vh;
}
.user-info {
    margin-bottom: 20px;
    padding: 15px;
    background-color: #E3EDFF; 
    border-radius: 8px;

    
    .student-image {
        width: 20vh;
        height: 20vh;
        border-radius: 50%;
        margin-right: 20px; 
        display: flex;
        margin-top: -22vh; 
margin-left: 100vh;    }
    }

    .dashboard-summary {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;

        div {
            flex: 1;
            margin: 0 10px;
            padding: 15px;
            border: 1px solid #E3EDFF;
            border-radius: 8px;
            text-align: center;
        }
    }

    .calendar-messages {
        display: flex;
        justify-content: space-between;

        .calendar-container, .messages-container {
            flex: 1;
            margin: 0 10px;
            border: 1px solid  #E3EDFF;
            border-radius: 8px;
        }
        
        .calendar {
            border: 1px solid #E3EDFF;
            border-radius: 8px;

            .calendar-header {
                background-color: #99BBFF;
                padding: 10px;
                text-align: center;
            }

            .calendar-days {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                border-top: 1px solid  #E3EDFF;

                .day, .date {
                    border: 1px solid  #E3EDFF;
                    padding: 10px;
                    text-align: center;
                }
            }
        }
      .messages-container{
        .messages-container ul {        
            padding: 0;
        } 
        }
    }
}
