@import "../common/common.scss";

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: $MainBackgroundColor;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.topbar {
    width: calc(100% - 35px);
    background-color: $PrimaryColor;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    border-radius: 30px;
    position: fixed;
    top: 0;
    left: 10px;
    right: 10px;
    z-index: 1;
}

.sidebar {
    width: 200px;
    background-color: $PrimaryColor;
    color: $TextColor;
    padding: 20px;
    border-radius: 30px;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__logo {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
    }

    &__menu {
        list-style: none;
        padding: 0;
        margin: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;

        &-item {
            text-align: center;
            margin: 10px 0;
            font-size: 30px;

            a {
                text-decoration: none;
                color: $TextColor;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }
}

.profile-section {
    background-color: $SecondaryColor;
    border-radius: 30px;
    padding: 20px;
    width: calc(100% - 400px);
    height: calc(100vh - 80px);
    margin-top: 80px;
    margin-bottom: 20px;
    margin-left: 260px;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__greeting {
        font-size: 25px;
        color: $PrimaryColor;
        margin-bottom: 20px;
        text-align: center;
    }

    &__content {
        display: flex;
        width: 100%;
        align-items: flex-start;
    }

    &__image {
        width: 150px;
        height: 150px;
        background-color: $TextColor;
        border-radius: 50%;
        margin-right: 20px;
      
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        &-item {
            margin: 10px 0;
            font-size: 20px;
        }
    }

    &__edit-button {
        background-color: $PrimaryColor;
        color: $TextColor;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        margin-top: 20px;
        width: auto;
        align-self: flex-start;

        &:hover {
            background-color: $AccentColor;
        }
    }
}

.edit-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    /* Добавляем отступ сверху, чтобы форма не прилипала */
    align-items: flex-start;
    /* Выравнивание по левому краю */

    &__input {
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        width: 100%;
        /* Ширина по всей доступной ширине */
    }

    &__button {
        padding: 10px;
        background-color: $PrimaryColor;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:hover {
            background-color: $AccentColor;
        }
    }
}