
.course {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    width: 28vw;
    height: 40vh;
    border-radius: 2rem;
    margin-top: 0.4rem;
    border-radius: 25px;
    background-color: #fff;
    left: 0.1rem;
    background-color: #f7f3fc;
    margin-inline-start: 20%;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;

    &__name {
        font-size: 1.2rem;
        font-weight: 500;
        color: #3a3a3a;
    }

    &__info {
        font-size: 1rem;
        font-weight: 100;
        color: #828282;
    }

    &__addButton {
        display: inline-block;
            outline: none;
            cursor: pointer;
            font-weight: 200;
            border-radius: 3px;
            padding: 0 10px;
            border-radius: 4px;
            color: #9783A9;
            background: transparent;
            font-size: 12px;
            height: 30px;
            word-spacing: 0px;
            letter-spacing: .0892857143em;
            text-decoration: none;
            text-transform: uppercase;
            min-width: 10rem;
            border: 1px solid #9783A9;
            text-align: center;
            transition: background 280ms cubic-bezier(0.4, 0, 0.2, 1);

            &:hover {
                background: #9783A9;
                color: white;
                transition-timing-function: ease-in-out;
            }
    }

    &__infoButton {
        display: inline-block;
            outline: none;
            cursor: pointer;
            font-size: 14px;
            padding: 0 12px;
            line-height: 20px;
            height: 30px;
            max-height: 30px;
            background: none;
            font-weight: 700;
            border: 0;
            border-radius: 0;
            color: #9783A9;
            transition-timing-function: ease-in-out;
            transition-duration: 150ms;
            box-shadow: none;
            margin-top: 0.5rem;
    }

};
