.post{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin: 0;

    &_container{
        display: flex;
        flex-direction: column;
        width: 30vw;
    }
}