.card {
    background-color: rgb(70, 18, 182);
    color: aliceblue;
    text-align: center;
    width: 350px;
    height: 250px;
    margin: 50px;

    .h2 {
        font-style: italic;
        margin: auto;
    }


    .img{
        width: 100px;
        margin: 0 auto;
    }
}
