.fab{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: var(--primary-color);
    color: var(--primary-color-text);
    display: flex;
    justify-content: center;
    align-items: center;

}