body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

p {
    font-size: 18px;
    color: rgb(220, 102, 151);
}

img {
width: 100vh; 
   height: auto;
    border-radius: 10px;
}