body{
  margin: 0px;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
}

.container{
  display: flex;
  gap:45px;
  justify-content: center;
  .box{
    width: 19.2%;
    height: 20vh;
  }
  .orange{
    background-color: rgb(255, 145, 0);

  }
  .aquamarine{
    background-color: aquamarine;

  }
  .beige{
    background-color: beige;
  }
  
  .header{
    width: 19.1%;
    height: 7vh;
    font-size: 18px;
  }
  
  .desc{
    width: 19%;
    height: 10vh;
    font-size: 13px;
  }
  
  .footer{
    width: 19%;
    height: 11vh;
    font-size: 11px;
  }
}