.feed{
    background-color: rgb(0, 0, 0);
    margin: 2rem;
}

.test{
    display: none;
}

.icons
{
    background-color: black;
}

#try{
    display: none;
}

.post{
    color: white;;
    font-size: 7rem;
    white-space: pre-wrap;
}

.like{
    width: 5rem;
    height: 5rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;

    &:hover{
        color: red;
    }
    
    &:active{
        color: green;
    }
    
    &:focus{
        color: yellow;
    }
    
    &:visited{
        color: blue;
    }

}

.input
{

    width: 50%;
    padding: 1rem;
    margin: 1rem;
    border: none;
    border-radius: 5px;
    background-color: lightgray;
}