.feed{
    background-color: rgb(0, 0, 0);
    margin: 2rem;
}

.test{
    display: none;
}

.icons
{
    background-color: black;
}

#try{
    display: none;
}

.post{
    color: white;;
    font-size: 2rem;
}