@import '../../components/button/button.scss';
@import '../../components/container/container.scss';

body {
    background-color: #FBFBFD;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    height: 100vh;
    margin: 0; 
}

h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
    color: #4D4D4D;
    font-family: sans-serif;
}

