* {
    direction: rtl;
}

.all-articles {
    display: flex;
    flex-direction: column;

}



.high-continer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-width: 1500px;
    margin: 10px;
}

.low-continer {
    display: flex;
    gap: 10px;
    flex-direction: row;
    background-color: tomato;

    .continer {
        display: flex;
        gap: 10px;
        flex-wrap: wrap;
        flex:1;

        .small-articel {
            width:300px;
        
        
            &__image {
                img {
                    width: 100%;
                }
            }
        
            &__big-intro {
                font-size: 1rem;
                font-weight: bold;
            }
        
            &__small-intro {
                font-size: 0.8rem;
        
            }
        
            &__name-date {
                font-size: 0.7rem;
                color: gray;
        
            }
        }
    }

    .big-article {
        flex: 1;

        &__image {
            img {
                width: 100%;
            }
        }

        &__big-intro {
            font-size: 1rem;
            font-weight: bold;
        }

        &__small-intro {
            font-size: 0.8rem;

        }

        &__name-date {
            font-size: 0.7rem;
            color: gray;

        }
    }
}

.small-articel {
    width: 20vw;


    &__image {
        img {
            width: 100%;
        }
    }

    &__big-intro {
        font-size: 1rem;
        font-weight: bold;
    }

    &__small-intro {
        font-size: 0.8rem;

    }

    &__name-date {
        font-size: 0.7rem;
        color: gray;

    }
}