<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galit's Portfolio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Galit's Portfolio</h1>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <section>
        <h2>About me</h2>
        <img src="../images/profile-img.jpeg" alt="Profile Image" class="profile-image">
        <p>
            Galit is a dedicated full-stack development student and an experienced online personal trainer.
            With a strong foundation in fitness, Galit previously owned and operated a successful fitness studio in Shlomi, 
            where she helped clients achieve their health goals and build strength. 
            Now, she's expanding her skill set into the tech world, 
            blending her passion for fitness with a growing expertise in web development. 
            Galit’s background combines hands-on experience in business and fitness with a commitment to learning the latest technologies, 
            making her well-rounded in both her professional and personal pursuits.
        </p>
    </section>
    <footer>
        <p>&copy; 2024 By Galit </p>
    </footer>
</body>
</html>
