<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galit's Portfolio</title>
    <link rel="stylesheet" href="../style/style.css">
</head>
<body>
    <header>
        <nav>
            <h1>Galit's Portfolio</h1>
            <a href="index.html">Home</a>
            <a href="about.html">About</a>
            <a href="contact.html">Contact</a>
        </nav>
    </header>
    <section>
        <h2>Contact me</h2>
        <p>Here are some convenient ways for you to get in touch with me and explore more about what I do in my work. 
            Feel free to connect through any of these platforms to stay updated and reach out directly!</p>
        <div class="links" style="font-size: 0;">
            <a href="https://mail.google.com/mail/u/0/?fs=1&to=fitness.galit@gmail.com&tf=cm" target="_blank">
                <img src="../images/email.png" alt="email" style="width:50px; height:auto; display: inline-block;">
            </a>
            <a href="https://www.tiktok.com/@galit_fitness" target="_blank">
                <img src="../images/tiktok.png" alt="TikTok" style="width:50px; height:auto; display: inline-block;">
            </a>
            <a href="https://www.facebook.com/GalitFithess/?locale=hi_IN" target="_blank">
                <img src="../images/facebook.png" alt="Facebook" style="width:50px; height:auto; display: inline-block;">
            </a>
            <a href="https://www.instagram.com/galit.fitness/?hl=he" target="_blank">
                <img src="../images/instagram.png" alt="Instagram" style="width:50px; height:auto; display: inline-block;">
            </a>
        </div>
        
    </section>
    <footer>
        <p>&copy; 2024 By Galit</p>
    </footer>
</body>
</html>