html,body{
  margin: 0;
}
.navbar{
  font-family: "Rubik", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  position: fixed;
  top: 6.5%;
  
  &__bg{
    width: 100vw;
    height: 1.5vw;
    background-color: red;
  }

  &__categories{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    gap: 60px;
    position: fixed;
    top: 5.5%;
    left: 23%;
  }
}