
.container {
  direction: rtl;
  width: 100%;
  position: absolute;

  .image-articles {
    width: 50%;
    padding: 3%;
    &__title {
      background-color: grey;
      width: 100%;
      height: 3%;
      font-size: 0.7rem;
      padding: 1%;
    }
    &__articles {
      display: flex;
      flex-direction: row;
      gap: 3%;
      width: fit-content;

      &__article {
        display: flex;
        flex-direction: column;
        width: 16%;
        height: fit-content;
        background-color: beige;

        img {
          max-height: 20%;
        }
      }
    }
  }
}