body{
    width: 100%;
    height: 100%;
}

.menu{
    margin: 0 auto;
    position: sticky;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 900px;
    height: 30px;
    top: 0;
        &_text{
            margin: 0 auto;
            font-size: 18px;
            color: white;
        }

}

.prsomt_on_top{
    display: flex ;
    margin: 0 auto;
}

.prsomt_center{

    
}

.ynet_logo{
    display: flex ;
    margin: 0 auto;
}

.main_article{         // כתבה ראשית - הכי גדולה - הכי בולטת
    display: flex;
    flex-direction: row;
    width: 700px;
    background-color: rgb(255, 255, 255);
    align-items: center;
    margin: 0 auto;
    border: 2px solid red;

    .main_article_image{
        padding-left: 1rem;
        width: 350px;
        height: 350px;
    }

    .main_article_text{
        padding-left: rem;
        font-size: 25px;
    }
}

.article_red{          //כתבות משניות - רקע אדום
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: rgb(255, 0, 0);
    border: 2px solid rgb(0, 255, 85);
    

    &_image{
        padding-left: 1rem;
        width: 150px;
        height: 150px;
    }

    &_text{
        color: white;
        padding-left: rem;
        font-weight: bo;
    }
}

.article_blue{          //כתבות משניות - רקע כחול
    display: flex;
    flex-direction: row;
    width: 300px;
    background-color: rgb(17, 0, 255);
    border: 2px solid rgb(0, 255, 42);
    
}


.mevzak{
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    width: 900px;
    height: 50px;
    background-color: white;
    border-color: aquamarine;
    border: 2px solid blue;
    animation: move-right 10s infinite linear;

    @keyframes move-right {     //עושה אפקט הזזה
        from {
            transform: translateX(0px);
        }
        to {
            transform: translateX(1100px);
        }
    }
    
    .mevzak_time{

        font-size: 16px;
        padding-left: rem;
        color: darkgray;
        font-weight: bold;

    }

    .mevzak_text{
        font-size: 22px;
        padding-left: rem;
        color: black;
        font-weight: bold;
    }
}